SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
ALERT_TO=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-2
S3_BUCKET=

REDIS_HOST=
REDIS_PORT=6379

# If you use a Postgres/Neon DB, provide the connection string
DATABASE_URL=
DIRECT_URL=
REDIS_URL=

USER_BE_URL=
ADMIN_BE_URL=
COMP_QUEUE_URL=
BLOCK_RIT_URL=

USER_FE_URL=
ADMIN_FE_URL=

CAT_ANI_URL=
VOICE_ANI_URL=
TOXIC_ANI_URL=
VISION_ANI_URL=
AI_CHECK_INTERVAL_HOURS=6

EC2_SSH_KEY=.key/ec2-iit-pair
EC2_SSH_USER=ubuntu

# Comma-separated EC2 public IPs (e.g. 3.7.8.9)
EC2_INSTANCE_IPS=

CF_API_TOKEN=
CF_ZONE_ID=
